[Unit]
Description=Run sending_measurement.service every minute

[Timer]
OnCalendar=*-*-* *:*:00
RandomizedDelaySec=10s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
